@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;
    --space: 2rem 14rem 2rem 14rem;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
}

section {
    padding: var(--space);
}


.indhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.kontakt {
    h2 {
        padding-bottom: 2rem;
    }

    .indryk {
        padding-left: 2rem;
    }
}

.map {
    h2 {
        padding-bottom: 2rem;
    }

    img {
        width: 100%;
    }

    a {
        color: var(--black);
    }
}

/* VENSKABSKLUBBER */
.venskabsklubber {
    grid-column: 1/-1;

    h2 {
        padding-bottom: 2rem;
    }

    .logoer {
        display: flex;
        padding: 0 5rem 0 5rem;
        flex-direction: column;
        align-items: center;
    }

    img {
        height: 150px;
    }
}




/* FAQ */
.faq {
    grid-column: 1/2;

    h2 {
        padding-bottom: 2rem;
    }

    p {
        text-decoration: underline;
    }
}


/* KONTAKTFORMULAR */
.kontaktformular {
    background-color: var(--lightGrey);
    padding: 2rem;
    grid-column: 2/-1;
    border-radius: 10px;

    .felter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

}

.tekstFelt {
    height: 200px;
    width: 100%;
    text-align: start;
}

input {
    height: 2rem;
    width: 100%;
}

.send {
    grid-template-columns: 1fr 1fr;
    background-color: var(--black);
    color: var(--white);
    height: 2rem;
    width: 100%;
    border-radius: 5px;
}


/*MOBILE STYLING*/
@media (max-width: px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }

}