@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
    background-image: url(/assets/img/Baggrundsbillede_1920.webp);
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;
}

.traening-hero {
    max-width: 100%;
}

.intro {
    padding-left: 11rem;

    h1 {
        font-size: var(--desktopOverskriftSize);
    }
}

.HDtraening {
    display: flex;
    justify-content: space-evenly;
}

.HVtraening {
    display: flex;
    flex-direction: column;
    max-width: 800px;

    h3 {
        font-size: var(--desktopUnderoverskriftSize);
        color: var(--red);
        padding-left: 8rem;
        margin-bottom: 0%;
    }

    p {
        color: var(--black);
        padding: 1rem 3rem 1rem 3rem;
        padding-left: 8rem;
        line-height: 1.6;
        margin-top: 0%;
    }

    video {
        padding-left: 6rem;
        margin: 2rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
}

.udstyr {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--lightGrey);
    padding: 2rem;


    h3 {
        font-size: var(--desktopUnderoverskriftSize);
        color: var(--red);
        padding-left: 8.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0%;
        margin-top: 0%;
    }

}

.udstyrrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22rem;

    p {
        color: var(--black);
        padding: 1rem 3rem 1rem 3rem;

        line-height: 1.6;
        margin-top: 0%;
    }

    img {
        max-width: 100%;
        padding-left: 8.5rem;
    }

}

/*MOBILE STYLING*/
@media (max-width: px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }

}